<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Streetmix Admin</title>

    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="en">
    <meta name="description" content="">

    {{! Display at 50% on mobile devices only; should not affect desktop browsers }}
    <meta name="viewport" content="width=device-width, initial-scale=.5, maximum-scale=.5">

    <link href="/favicon.ico" rel="shortcut icon">
    <link href="/assets/css/styles.css" rel="stylesheet">
  </head>
  <body tabindex="1" class="main-wrapper">

    {{! Mount point for React }}
    <div id="react-app" class="app"></div>

    
    <script src="/assets/scripts/admin.js"></script>
  </body>
</html>
